<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 id="qaza-tracker">Qaza Tracker</h2>
  <p>
    This app helps you track your pending (qaza) prayers and provides intuitive
    UI for logging & updating your Salah balance.
  </p>
  <h4>Features</h4>
  <ul>
    <li>Manage all your balance prayers</li>
    <li>Track your progress using charts</li>
    <li>Export records as JSON/CSV data.</li>
    <li>Stores everything your credentials <em>in your phone</em>, offline!</li>
    <li>Simple notepad to save other necessary stuff</li>
    <li>CRUD for all prayers with lovely UI</li>
    <li>
      Offline storage,
      <a href="https://github.com/ShakesVision/qaza"> Open-source</a> and hence
      trustworthy
    </li>
  </ul>
  <h4>User Guide</h4>
  <ol>
    <li>Setup the master data in the beginning.</li>
    <li>
      Everytime you need to update the records, simply change the values and
      save.
    </li>
    <li>Daily logs can be added for your memory and motivation.</li>
    <li>
      In the "Track" section, see your progress instantly. As soon as you update
      the records, the changes will reflect.
    </li>
    <li>Notepad can be used to jot down & save other necessary stuff.</li>
  </ol>
  <p>Questions, suggessions and contributions are welcome.</p>

  <p><strong>Shakeeb Ahmad</strong></p>
  <p>
    <em> <a href="https://www.shakeeb.in">www.shakeeb.in</a></em>
  </p>
  <div class="support">
    <p>
      <a href="https://www.buymeacoffee.com/shakesvision">
        <img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
          height="50"
          width="210"
          alt="shakesvision"
      /></a>
    </p>
    <br />
  </div>
</ion-content>
