<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 id="onesignal-push-manager">OneSignal Push Manager</h2>
  <p>This app helps you manage your app credentials and provides intuitive UI for sending the notifications to your
    users.</p>
  <h4>Features</h4>
  <ul>
    <li>Manage all your apps</li>
    <li>Stores all your credentials <em>in your phone</em></li>
    <li>Offline storage, <a href="https://github.com/ShakesVision/OneSignal-Push-Src"> Open-source</a> and hence
      trustworthy</li>
    <li>CRUD for app info with lovely UI</li>
    <li>Simple notepad to save other necessary stuff</li>
    <li>Send notifications to any of your apps, in any segment</li>
    <li>From simple heading + message notifs to fancy ones, with icon, banner and <em>extra data</em> to pass-in the
      app (useful for deeplinks)</li>
  </ul>
  <p>Questions, suggessions and contributions are welcome.</p>

  <p><strong>Shakeeb Ahmad</strong></p>
  <p><em> <a href="https://www.shakeeb.in">www.shakeeb.in</a></em></p>
  <div class="support">
    <p><a href="https://www.buymeacoffee.com/shakesvision"> <img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" height="50" width="210"
          alt="shakesvision" /></a></p><br>
  </div>
</ion-content>