<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 id="onesignal-push-manager">OneSignal Push Manager</h2>
  <p>This app helps you manage your app credentials and provides intuitive UI for sending the notifications to your
    users.</p>
  <h4>Features</h4>
  <ul>
    <li>Manage all your apps</li>
    <li>Stores all your credentials <em>in your phone</em></li>
    <li>Offline storage, <a href="https://github.com/ShakesVision/OneSignal-Push-Src"> Open-source</a> and hence
      trustworthy</li>
    <li>CRUD for app info with lovely UI</li>
    <li>Simple notepad to save other necessary stuff</li>
    <li>Send notifications to any of your apps, in any segment</li>
    <li>From simple heading + message notifs to fancy ones, with icon, banner and <em>extra data</em> to pass-in the
      app (useful for deeplinks)</li>
  </ul>
  <h4>User Guide</h4>
  <ol>
    <li>Get your "App ID" and "REST API Key" from OneSignal Dashboard.</li>
    <li>It is recommended by OneSignal NOT to save API key anywhere, therefore our app doesn't save it by default. It's optional.</li>
    <li>In the "APPS" section of our app (Push Manager), make a list of app names and IDs.</li>
    <li>In the "SEND NEW" section, fill the details and send in a segment of your choice.</li>
    <li>Button 1 can be used to send in a segment named 'Test', which you can configure from OneSignal Dashboard for your test devices.</li>
    <li>Button 2 can be used to send in a segment named 'All'.</li>
    <li>Button 3 can be used to send in any custom segment.</li>
    <li>Notepad can be used to jot down & save other necessary stuff.</li>
    <li>Profit?</li>    
  </ol>  
  <p>Questions, suggessions and contributions are welcome.</p>

  <p><strong>Shakeeb Ahmad</strong></p>
  <p><em> <a href="https://www.shakeeb.in">www.shakeeb.in</a></em></p>
  <div class="support">
    <p><a href="https://www.buymeacoffee.com/shakesvision"> <img
          src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" height="50" width="210"
          alt="shakesvision" /></a></p><br>
  </div>
</ion-content>