<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Qaza Tracker </ion-title>
    <ion-buttons slot="end">
      <div class="topBtns" routerLink="/notepad">
        <ion-button>
          <ion-icon name="receipt"></ion-icon>
        </ion-button>
        <ion-label>Notepad</ion-label>
      </div>
      <div class="topBtns" routerLink="/about">
        <ion-button>
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
        <ion-label>About</ion-label>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment
    color="primary"
    [(ngModel)]="type"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="default" checked>
      <ion-label>Add</ion-label>
      <ion-icon name="add"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="new">
      <ion-label>Track</ion-label>
      <ion-icon name="pie-chart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="master">
      <ion-label>Master</ion-label>
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <div *ngSwitchCase="'default'">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."
        >
        </ion-refresher-content>
      </ion-refresher>

      <div class="inputElements ion-text-center">
        <form [formGroup]="qazaForm" action="submit">
          <ion-item>
            <ion-label position="floating"
              >Date <span class="arabic">تاریخ</span></ion-label
            >
            <!-- <ion-input type="date" formControlName="date" required></ion-input> -->
            <ion-datetime
              presentation="date"
              type="date"
              formControlName="date"
              required
            ></ion-datetime>
          </ion-item>
          <div class="counter-labels-inputs-wrapper">
            <div class="counter-label-input">
              <div class="counter-label-arabic arabic">فجر</div>
              <ion-label>F</ion-label>
              <counter-input
                #fajr
                (countChange)="updateCountInFormontrol($event,'fajr')"
                formControlName="fajr"
              ></counter-input>
            </div>
            <div class="counter-label-input">
              <div class="counter-label-arabic arabic">ظہر</div>
              <ion-label>Z</ion-label>
              <counter-input
                (countChange)="updateCountInFormontrol($event,'zuhr')"
                formControlName="zuhr"
              ></counter-input>
            </div>
            <div class="counter-label-input">
              <div class="counter-label-arabic arabic">عصر</div>
              <ion-label>A</ion-label>
              <counter-input
                (countChange)="updateCountInFormontrol($event,'asr')"
                formControlName="asr"
              ></counter-input>
            </div>
            <div class="counter-label-input">
              <div class="counter-label-arabic arabic">مغرب</div>
              <ion-label>M</ion-label>
              <counter-input
                (countChange)="updateCountInFormontrol($event,'maghrib')"
                formControlName="maghrib"
              ></counter-input>
            </div>
            <div class="counter-label-input">
              <div class="counter-label-arabic arabic">عشاء</div>
              <ion-label>I</ion-label>
              <counter-input
                (countChange)="updateCountInFormontrol($event,'isha')"
                formControlName="isha"
              ></counter-input>
            </div>
            <div class="counter-label-input">
              <div class="counter-label-arabic arabic">وتر</div>
              <ion-label>W</ion-label>
              <counter-input
                (countChange)="updateCountInFormontrol($event,'witr')"
                formControlName="witr"
              ></counter-input>
            </div>
          </div>
          <ion-item>
            <ion-label>Fast <span class="arabic">صوم</span></ion-label>
            <counter-input
              slot="end"
              (countChange)="updateCountInFormontrol($event,'fast')"
              formControlName="fast"
            ></counter-input>
          </ion-item>
          <ion-button (click)="updateLog()">
            <ion-icon slot="start" name="add"></ion-icon> Add New
          </ion-button>
        </form>
      </div>
      <h2 style="color: var(--ion-color-primary)">Daily Logs</h2>
      <div class="card-wrapper" *ngFor="let app of items;let i= index;">
        <ion-card class="card-items" *ngIf="app && app.length>0">
          <ion-card-header>
            <ion-card-subtitle
              >{{app[0].date| date:'fullDate'}}</ion-card-subtitle
            >
            <ion-card-title>{{app.salah}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngFor="let r of app;let j= index;">
              Fajr:{{r.fajr}}, Zuhr:{{r.zuhr}}, Asr:{{r.asr}},
              Maghrib:{{r.maghrib}}, Isha:{{r.isha}}, Witr:{{r.witr}},
              Fast:{{r.fast}}

              <ion-item class="row-controls">
                <ion-icon slot="start" name="time-outline"></ion-icon>
                <ion-label slot="start" color="medium">
                  {{r.timestamp ? (r.timestamp| date:'mediumTime') : (r.date |
                  date:'mediumTime')}}
                </ion-label>
                <ion-button slot="end" fill="none" (click)="exportToJson(r)">
                  <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                </ion-button>
                <ion-button
                  slot="end"
                  fill="none"
                  (click)="populateInputFieldsForUpdate(r)"
                >
                  <ion-icon slot="icon-only" name="pencil"></ion-icon>
                </ion-button>
                <ion-button
                  slot="end"
                  fill="none"
                  (click)="deleteOneRecord('log'+getUniqueId(app[0].date),app,j)"
                >
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </div>
            <div class="hangingBtns">
              <ion-button
                color="danger"
                (click)="deleteConfirm('log'+getUniqueId(app[0].date))"
              >
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button (click)="update(app.salah,app.count)">
                <ion-icon name="pencil" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button color="success" (click)="saveItem(i)">
                <ion-icon
                  name="checkmark-done-outline"
                  slot="icon-only"
                ></ion-icon>
              </ion-button>
            </div>
            <div class="codenbtn">
              <!-- d966d91c-664e-47e8-ba65-314d82fe1196 -->
              <span class="code"> {{app.code}} </span>
              <ion-button fill="none" (click)="exportToJson(app)">
                <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
              </ion-button>
            </div>
            <ion-label color="medium" class="unique-id"
              >log{{getUniqueId(app[0].date)}}</ion-label
            >
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div *ngSwitchCase="'new'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Remaining Prayers</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col>
                <div class="col-label">Fajr</div>
                <div class="stats-wrap">
                  <span class="col-label-completed"
                    >{{masterData.fajr.completed}}</span
                  >
                  /
                  <span class="col-label-total">{{masterData.fajr.total}}</span>
                </div>
                <div class="col-label-remaining">
                  {{masterData.fajr.total-masterData.fajr.completed}}
                </div>
              </ion-col>
              <ion-col>
                <div class="col-label">Zuhr</div>
                <div class="stats-wrap">
                  <span class="col-label-completed"
                    >{{masterData.zuhr.completed}}</span
                  >
                  /
                  <span class="col-label-total">{{masterData.zuhr.total}}</span>
                </div>
                <div class="col-label-remaining">
                  {{masterData.zuhr.total-masterData.zuhr.completed}}
                </div>
              </ion-col>
              <ion-col>
                <div class="col-label">Asr</div>
                <div class="stats-wrap">
                  <span class="col-label-completed"
                    >{{masterData.asr.completed}}</span
                  >
                  /
                  <span class="col-label-total">{{masterData.asr.total}}</span>
                </div>
                <div class="col-label-remaining">
                  {{masterData.asr.total-masterData.asr.completed}}
                </div>
              </ion-col>

              <ion-col>
                <div class="col-label">Maghrib</div>
                <div class="stats-wrap">
                  <span class="col-label-completed"
                    >{{masterData.maghrib.completed}}</span
                  >
                  /
                  <span class="col-label-total"
                    >{{masterData.maghrib.total}}</span
                  >
                </div>
                <div class="col-label-remaining">
                  {{masterData.maghrib.total-masterData.maghrib.completed}}
                </div>
              </ion-col>
              <ion-col>
                <div class="col-label">Isha</div>
                <div class="stats-wrap">
                  <span class="col-label-completed"
                    >{{masterData.isha.completed}}</span
                  >
                  /
                  <span class="col-label-total">{{masterData.isha.total}}</span>
                </div>
                <div class="col-label-remaining">
                  {{masterData.isha.total-masterData.isha.completed}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content> </ion-card
      ><ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Track your progress</ion-card-subtitle>
          <ion-card-title>Total and Completed Prayers</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="chart-wrapper">
            <google-chart [data]="pieChart"></google-chart>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngSwitchCase="'master'">
      <ion-card>
        <div class="masterForm ion-text-center">
          <form [formGroup]="masterForm" action="submit">
            <ion-item>
              <ion-label slot="start">Fajr</ion-label>
              <ion-input
                type="number"
                formControlName="fajrTotal"
                placeholder="Total"
                slot="end"
              ></ion-input>
              <ion-input
                type="number"
                formControlName="fajrCompleted"
                placeholder="Completed"
                slot="end"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label slot="start">Zuhr</ion-label>
              <ion-input
                type="number"
                formControlName="zuhrTotal"
                placeholder="Total"
                slot="end"
              ></ion-input>
              <ion-input
                type="number"
                formControlName="zuhrCompleted"
                placeholder="Completed"
                slot="end"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label slot="start">Asr</ion-label>
              <ion-input
                type="number"
                formControlName="asrTotal"
                placeholder="Total"
                slot="end"
              ></ion-input>
              <ion-input
                type="number"
                formControlName="asrCompleted"
                placeholder="Completed"
                slot="end"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label slot="start">Maghrib</ion-label>
              <ion-input
                type="number"
                formControlName="maghribTotal"
                placeholder="Total"
                slot="end"
              ></ion-input>
              <ion-input
                type="number"
                formControlName="maghribCompleted"
                placeholder="Completed"
                slot="end"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label slot="start">Isha</ion-label>
              <ion-input
                type="number"
                formControlName="ishaTotal"
                placeholder="Total"
                slot="end"
              ></ion-input>
              <ion-input
                type="number"
                formControlName="ishaCompleted"
                placeholder="Completed"
                slot="end"
              ></ion-input>
            </ion-item>
          </form>
          <ion-button (click)="updateMaster()">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            Update Master Data
          </ion-button>
          <ion-button (click)="exportToJson(masterData)">
            <ion-icon slot="start" name="copy-outline"></ion-icon>
            Copy as JSON
          </ion-button>
        </div>
      </ion-card>
      <div
        *ngIf="!masterDataPresent"
        class="ion-text-center"
        style="margin-top: 35%"
      >
        <ion-label color="medium"> <em>Nothing here :(</em> </ion-label>
      </div>
    </div>
  </div>
</ion-content>
