#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.codenbtn {
  display: flex;
  align-items: center;
}
ion-card.card-items {
  position: relative;
}
.codenbtn ion-button:hover {
  color: var(--ion-color-success);
}
.hangingBtns {
  position: absolute;
  top: -80px;
  right: 0;
  ion-button {
    font-size: x-small;
  }
}
.inputElements ion-item,
.IDs ion-item {
  margin: 5px;
  border: 1px solid rgba(23, 223, 90, 0.4);
  border-radius: 10px;
}
.deleteConfirmBtn {
  color: var(--ion-color-danger);
}
.auth-wrapper {
  position: relative;
}
.save-auth {
  position: absolute;
  right: 0;
  top: 0;
  font-size: x-small;
  z-index: 2;
}
.topBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: xx-small;
  margin-right: 5px;
  cursor: pointer;
  ion-label {
    letter-spacing: 2px;
    font-size: 7px;
  }
}
.chart-wrapper {
  // overflow-x: scroll;
}
.counter-labels-inputs-wrapper {
  display: flex;
  justify-content: space-evenly;
  .counter-label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 5px;
    .counter-label-arabic {
      font-size: x-small;
    }
    ion-label {
      font-size: x-large;
      margin-bottom: 10px;
    }
  }
}
ion-grid ion-col {
  text-align: center;
  .stats-wrap {
    font-size: x-small;
  }
  .col-label-remaining {
    font-size: x-large;
    color: var(--ion-color-primary);
  }
}
