<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      OneSignal Push Manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="default" checked>
      <ion-label>Apps</ion-label>
      <ion-icon name="color-wand"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="new">
      <ion-label>Send New</ion-label>
      <ion-icon name="flame"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <div *ngSwitchCase="'default'">
      <ion-input placeholder="Id" [(ngModel)]="id_input"></ion-input>
      <ion-input placeholder="Name" [(ngModel)]="name_input"></ion-input>
      <ion-input placeholder="Code" [(ngModel)]="code_input"></ion-input>
      <ion-button (click)="saveItem()">Save</ion-button>
      <!-- Implement Delete & Update (How? Splice & a[2]=value)-->
      <!-- Refresh list, Add UserAuthKey field -->
      <ion-card class='card-items' *ngFor="let app of items">
        <ion-card-header>
          <ion-card-subtitle>#{{app.id}}</ion-card-subtitle>
          <ion-card-title>{{app.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class='codenbtn'>
            <!-- d966d91c-664e-47e8-ba65-314d82fe1196 -->
            <span class='code'> {{app.code}} </span>
            <ion-button fill='none'>
              <ion-icon slot='icon-only' name='copy-outline'></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>

    </div>

    <div *ngSwitchCase="'new'">
      <div class="IDs">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="authKey"></ion-input>
        <ion-icon name="locate-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="appId"></ion-input>
      </div>
      <ion-item>
        <ion-label>Heading*</ion-label>
        <ion-input [(ngModel)]="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Message*</ion-label>
        <ion-input [(ngModel)]="message"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Large Icon</ion-label>
        <ion-input placeholder="Enter image URL..." [(ngModel)]="bigIcon"></ion-input>
      </ion-item>
      <div *ngIf="bigIcon" class="ion-text-center">
        <img [src]="bigIcon" width="50px" height="50px" alt="Large Icon">
      </div>
      <ion-item>
        <ion-label>Big Picture</ion-label>
        <ion-input placeholder="Enter image URL..." [(ngModel)]="bigPic"></ion-input>
      </ion-item>

      <br>
      <h3 class="ion-padding">NOTIFICATION PREVIEW:</h3>
      <ion-card style="direction: rtl;">
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="bigIcon" size="3">
              <img [src]="bigIcon" width="50px" height="50px" alt="Default Logo">
            </ion-col>
            <ion-col>
              <b> {{title}} </b>
              <p> {{message}} </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="bigPic" class="ion-text-center">
          <img [src]="bigPic" alt="Big picture">
        </div>
      </ion-card>

      <ion-textarea placeholder="Enter extra text..." [(ngModel)]="extra"></ion-textarea>

      <ion-button (click)="newNotif('Test',title,message,bigIcon,bigPic,extra)" expand="full">Send to Test Devices
      </ion-button>
      <ion-button color="danger" (click)="presentAlertConfirm('All')" expand="full">Send to All
      </ion-button>
      <ion-input placeholder="Custom Segment Name..." [(ngModel)]="customSegment"></ion-input>
      <ion-button color="success" (click)="presentAlertConfirm(customSegment)" expand="full">Send in: {{customSegment}}
      </ion-button>
    </div>

  </div>
  <div class="ion-text-center">
    <ion-spinner *ngIf="spin"></ion-spinner>
    <div class="status ion-padding">
      <p>{{status}}</p>
    </div>
  </div>

</ion-content>