#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.codenbtn {
  display: flex;
  align-items: center;
}
ion-card.card-items {
  position: relative;
}
.codenbtn ion-button:hover {
  color: var(--ion-color-success);
}
.hangingBtns {
  position: absolute;
  top: -60px;
  right: -2px;
  ion-button {
    font-size: xx-small;
  }
}
.inputElements ion-item,
.IDs ion-item {
  margin: 5px;
  border: 1px solid rgba(23, 223, 90, 0.4);
  border-radius: 10px;
}
.deleteConfirmBtn {
  color: var(--ion-color-danger);
}
.auth-wrapper {
  position: relative;
}
.save-auth {
  position: absolute;
  right: 0;
  top: 0;
  font-size: x-small;
  z-index: 2;
}
.topBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: xx-small;
  margin-right: 5px;
  cursor: pointer;
  ion-label {
    letter-spacing: 2px;
    font-size: 7px;
  }
}
.chart-wrapper {
  // overflow-x: scroll;
}

ion-grid ion-col {
  text-align: center;
  .stats-wrap {
    font-size: x-small;
  }
  .col-label-remaining {
    font-size: x-large;
    color: var(--ion-color-primary);
  }
}

.logs-header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  ion-button {
    margin: 0;
    --padding-end: 0;
    --padding-start: 0;
  }
}
.top-add-actions-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .top-add-btn {
    border: 1px solid var(--ion-color-primary);
    margin: 2rem 0;
    padding: 1rem;
    cursor: pointer;
  }
}
.goback-num {
  width: 70px;
  margin: 5px auto;
  background: var(--primary-light);
  border-radius: 10px;
}
.index {
  background: var(--primary-light);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--ion-color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
}
